---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Sobre este blog</h1>
        <h2>Viaje a Fort Lauderdale</h2>

        <p>Este blog fue creado para documentar y realizar el itinerario para el viaje que vamos a hacer a Miami</p>

        <p>Aunque en realidad no es solo a Miami, vamos a visitar Fort Lauderdale, Orlando y ¡Nueva York! (eso si, en invierno ❄️)</p>
	</body>
</html>
